
html {
    font-size: 62.5%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto'
}
.body{
    width: 100vw;
}

nav{
    display: flex;
    justify-content: space-around;
    /* padding: 1rem; */
    align-items: center;
    height: 9.8rem;
    background-color:white;
    border-bottom: 1px solid rgba(128, 128, 128, 0.205);
    position: fixed;
    z-index: 1000;
    width: 100%;
    overflow-y: hidden;
}

nav a {
    color:grey;
}

.logo{
    /* background-color: blue; */
    height: 100%;
    /* width: 10%; */
  
    display: flex;
    justify-content: center;
    /* border-right: 1px solid black; */
}
.logo svg{
    align-self: center;
    height: 100%;
}
.verticaline{
    margin-left: 3rem;
    width: 1px;
    
    height: 100%;
    background-color:rgba(128, 128, 128, 0.171);
}
.location{
    /* background-color: lavender; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;
    line-height: 0;
    width: 15%;
}
.Delivery{
    font-size:1.8rem;
    font-weight: 900;
    letter-spacing: 0.05rem;
}
.location p{
    font-size: 1.5rem;
    justify-self: center;
    /* line-height: 1; */
}
.icon{
    margin-left: 1rem;
    font-size: 2rem;
}
.nav-buttons{
    /* background-color: red; */
    
}
.search-space{
    /* background-color: red; */
    border: 1px solid rgba(128, 128, 128, 0.144);
    display: flex;
    align-items: center;
    height: 60%;
    width: 55%;
    /* padding-left: 5px; */
    border-radius: 1rem;
    background-color: rgba(128, 128, 128, 0.021);
}
.search-space i{
    margin-left: 1.5rem;
    font-size: 2rem;
/*     
    background-color: red; */
}
.search-space input{
    margin-left: 10px;
    border: none;
    background-color: transparent
}
.search-space input::placeholder{
    font-size: 1.5rem;
}
.nav-buttons{
    display: flex;
    /* background-color: blueviolet; */
    justify-content: space-around;
    width: 15%;
    align-items: center;
    
}
.nav-buttons button{
    /* background-color: blue; */
}
.login{
    color:rgb(54, 54, 54);
    font-weight: 400;
    justify-content: center;
    font-size: 2rem;
}

.cart{
    background-color: rgb(12, 131, 31);
    border-radius: 8px;
    cursor: pointer;
    height: 5.6rem;
    width: 12rem;
    -webkit-box-pack: center;
    justify-content: space-evenly;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    color: white;
   
}
.cart i{
    font-size: 1.8rem;
}
.cart button{
    border: none;
    background-color:transparent;
    color: white;
    font-weight: 500;
    font-size: 1.8rem;
}

/*main section*/
.hero{
    /* background-color: rgb(14, 156, 9); */
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.heroimage{
    
    /* background-color: red; */
    margin: auto;
    margin-top: 10rem;
    width:100%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}
.heroimage img{
    /* background-color: blue; */
    width:68%;


 
}


.offers{
    margin: auto;
    /* background-color: red; */
    width: 100%;
   
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    margin-bottom: 2rem;
    /* overflow-x: auto; */
    /* background-color: red; */
}
.offer-adds{
    /* background-color: rgb(33, 185, 19); */
    width: 68%;
    height: auto;
    white-space: nowrap;
    overflow-x: auto;
   
   
}
.offer-adds img{
   padding: 1rem;
    width: 28%;
    height: auto;

}
.categories{
    margin: auto;
    /* background-color: red; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;

}
.line1{
    /* background-color: rgb(18, 39, 160); */
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    /* gap: 1rem; */
}
.line1 img{
    /* margin: 2rem 2rem; */
    width: 100%;
    height: auto; 
}

.cards{
    margin: auto;
    /* background-color: red; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.cards h2{
    align-self:flex-start;
}

::-webkit-scrollbar{
    
}
.product-row{
    margin: auto;
    /* background-color: red; */
    width: 68%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2rem;
}

.Diary{
    margin: auto;
    /* background-color: red; */
    width: 68%;
    margin-bottom: 6rem;
 
}

.cards-text{
    /* background-color: brown; */
    height: 20%;
    display: flex;
    justify-content: space-between;
}

.div{
    display: flex;
    flex-direction: column;
}
.mylists{
    /* background-color: yellow; */
    white-space: nowrap;
    overflow-x: auto;
    display: flex;
    max-width: 100%;
    overflow: auto hidden;
}
.my-cards{
    /* background-color: rgb(199, 46, 19); */
    min-width: 200px;
    border: 1px solid rgba(75, 71, 71, 0.13);
    border-radius: 10px;
    display: flex;
    margin-inline: 10px;
 
    flex-direction: column;
    justify-content: center;6

    
}
.my-cards img{
    align-self: center;
    width: 100%;
    padding: 1rem;
}

.card-time{
    display: flex;
    background-color: rgba(104, 104, 112, 0.062);
    width:fit-content;
    height: 2rem;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    padding: 0 4px;
    font-weight: 700;
    font-size: 0.9rem;
    margin-bottom: 1rem;
    
}

.card-time p{
    margin-top: 1rem;
    margin-left: 3px;
   
}
.card-time i,p{
    font-size: 1rem;
    font-weight: 700;
}
.contained{
    white-space: wrap;
    /* background-color: blue; */
}
.card-title{
    /* background-color: red; */
    padding-right: 0.2rem;
    /* overflow:hidden; */
    font-size: 1.5rem;
    color: rgb(31, 31, 31);
    
}
.card-weight{
    /* background-color: blue; */
    margin-top: 0.5rem;
    font-size:1.3rem ;
    margin-bottom: 1rem;
    color: rgba(31, 31, 31, 0.747);
    white-space: nowrap; /* Add this line */
    overflow: hidden; /* Add this line */
    text-overflow: ellipsis;

}
.span s{
    /* background-color: red; */
    font-size: 1.3rem;

}
.card-last{
    /* background-color: blue; */
    display: flex;
    padding: 0.5rem;
    height: 10%;

    justify-content: space-between;
    align-items: center;
}
.card-last p{
    margin-top: 10px;
    font-size: 1.3rem;
    line-height: 0.2;
}
.button{
    width: 7.6rem;
    height: 3.8rem;
    font-size: 1.4rem;
    border: 1px solid   rgb(12, 131, 31);
    border-radius: 6.6px;
    font-weight: 500;
    background-color:rgba(12, 131, 32, 0.055);
    color: rgb(12, 131, 31);
    /* background-color: red; */
}
.green{
   color: rgb(12, 131, 31);
}
footer p{
    text-align: center;
    font-size: 1.5rem;
}
@media screen and (max-width:1550px){
   
   nav{
        /* background-color: red; */
        height: 8.6rem;
     
   }
    .logo{
        /* background-color: blueviolet; */
        width: 12%;
    }
    .logo svg{
        width: 70%;
    }
    .search-space{
        width: 40%;
        height: 60%;
    }
    .location{
        display: flex;
        /* background-color: red; */
        align-items: center;
        width: 20%;
        height: 60%;
        
    }
    .contain{
        justify-content: start;
        align-items: center;
        /* background-color: blue; */
        /* margin: 0; */
    }
    .contain p {
        font-weight: 400;
    }
    .Delivery{
        margin: 0;
        letter-spacing: 0;
        font-size: 2rem;
    }
    
    .login{
        font-size: 2rem;
    }
    .nav-buttons{
        width: 20%;
        height: 100%;
        /* background-color: red; */
        /* background-color: red; */
        justify-content: space-around;
        
    }
    .cart {
        width: 40%;
        height: 65%;
        padding: 1rem;
        font-size: 1.4rem;
        justify-content: space-between;

    }
    .cart button{
        font-size: 1.8rem;
    }
    .cart i {
        font-size: 2rem;
    }
    .heroimage img{
        /* background-color: red; */
        width: 100%

    }
    .heroimage img{ 
        margin-top: 2rem;
        margin:auto;
    }
    .heroimage img,.offer-adds,.line1{
        width: 94%;
        height: 100%;
   }
    .offers {
        /* background-color: red; */
        padding-bottom: 1rem;
        margin-bottom: 1rem;
       }
       .offers .offer-adds img{
        height: 90%;
        padding-top: 0;
        padding-bottom: 0
       }
       .categories{
        /* background-color: red; */
        height: 50vh;
        
       }
       .line1{
        /* background-color: blue; */
        width: 94%;
       }
   .line1 img{
    width: 100%;
    height: 100%;
   }
   .Diary{
    margin-top: 5rem;
    /* background-color: red; */
    width: 94%;
   }

   
}

@media screen and (max-width:1350px) {
        .nav-buttons{
            width: 25% ;
            /* background-color: red; */
        }
    .cart {
        width: 50%;
        justify-content: space-around;
    }
}
@media screen and (max-width:1024px){
    .nav-buttons{
        width: 30% ;
        /* background-color: red; */
    }
    .cart {
        width: 50%;
        justify-content: space-between;
    }
    .cart button{
        font-size: 1.5rem;
    }
    .logo{
        width: 14%;
        /* background-color: red; */
       
    }
    .Delivery{
        font-size: 1.5rem;
    }
    .contain p {
        font-size: 1.2rem;
    }
    .login{
        font-size: 2rem;
    }
    .cart{
        width: 10rem;
    }           
    .cart i{
        font-size: 1.6rem;
    }
    .cart button{
        font-size: 1.6re,;
    }
    
    
}
@media screen and (max-width:880px){
    .nav-buttons{
        width: 25% ;
        /* background-color: red; */
        justify-content: space-between;
    }
    .login{
        font-size: 1.6rem;
    }
    .location{
        width: 20%;
    }
    .Delivery{
        font-size: 1.4rem;
    }
    .cart{
        width: 50%;
        display: flex;
        justify-content: space-between;
    }
    .search-space{
        width: 30%;
    }
    .cart i {
        font-size: 1.4rem;
    }
    .cart  button{
        font-size: 1.5rem;
    }
}